@use "@/common/styles/colors"
@use "@/common/styles/breakpoints"

body.sidebar-resizing
  user-select: none
  cursor: col-resize

  .view-container
    pointer-events: none

.server-page
  display: flex
  width: 100%
  height: 100%
  position: relative

  @media (max-width: breakpoints.$mobile)
    flex-direction: column

  &:has(.view-container.fullscreen)
    .server-list
      display: none

    .server-list-overlay
      display: none