@import "@/common/styles/colors"

.view-container
  display: flex
  flex-direction: column
  height: 100vh
  width: calc(100vw - 23rem)

.view
  display: none
  background-color: $terminal
  height: 100%

.view-layouter
  display: flex
  flex-direction: column
  height: calc(100vh - 3.5rem)

.view-active
  display: block