$background: #000A12
$terminal: #13181C
$lighter-background: #0D161E
$gray-full: #202429

$darker-gray: rgba(34, 36, 42, 0.6)
$dark-gray: rgba(255, 255, 255, 5%)
$gray: rgba(255, 255, 255, 10%)

$light-gray: #F6F6F6

$primary: #314BD3
$primary-opacity: rgba(49, 75, 211, 0.25)

$error: #a44747
$error-opacity: rgba(164, 71, 71, 0.25)

$success: #29C16A
$success-opacity: rgba(41, 193, 106, 0.25)

$white: #FFFFFF

$subtext: #B7B7B7