@import "@/common/styles/colors"

.settings-navigation
  background-color: $lighter-background
  height: 100%
  display: flex
  flex-direction: column
  border-right: 2px solid $dark-gray
  user-select: none

  p
    margin: 0.5rem 0 0
    padding: 0.5rem 1rem
    font-size: 1rem
    font-weight: 600
    color: $subtext

  .settings-group
    display: flex
    flex-direction: column
    align-items: center